<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <style>
.highcharts-figure, .highcharts-data-table table {
    min-width: 360px; 
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-data-table table {
	font-family: Verdana, sans-serif;
	border-collapse: collapse;
	border: 1px solid #EBEBEB;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
	font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}
        </style>
    </head>
    <body>
        <div id="app"> 
            <div class="container">
                <div style="height: 400px;overflow-y: scroll;margin-bottom:50px;margin-top: 50px;">
                    <table class="table table-bordered text-center">
                        <thead>
                            <th>Minggu Ke</th>
                            <th>Permintaan</th>
                        </thead>
                        <tbody>
                            <tr v-for="id in data" >
                                <td>{{ id.minggu }}</td>
                                <td><input style="width: 100px;margin:auto;" type="text" class="form-control" v-model="id.frekuensi" @change="updateData(id)"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div style="margin-bottom:50px;margin-top: 50px;">
                    <label for="exampleInputEmail1">Data Input Faktual</label>
                    <table class="table table-bordered text-center">
                        <thead>
                            <th>Minggu Ke</th>
                            <th>Permintaan</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input style="width: 100px;margin:auto;" type="text" class="form-control" v-model="mingguIn"></td>
                                <td><input style="width: 100px;margin:auto;" type="text" class="form-control" v-model="freqIn"></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-primary" type="button" id="button-addon1" @click="input">Input Data</button>
                    </div>
                </div>
                <!-- <div class="form-group">
                    <label for="exampleInputEmail1">Data Input Faktual</label>
                    <input type="text" v-model="len" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <input type="text" v-model="len" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div> -->
                <table class="table table-bordered text-center">
                    <thead>
                        <th>Permintaan</th>
                        <th>Frekuensi</th>
                        <th>Prob</th>
                        <th>Komulatif</th>
                        <th>Interval</th>
                    </thead>
                    <tbody>
                        <tr v-for="(n,index) in datTable"> 
                            <td>{{n.minta}}</td>
                            <td>{{n.freq}}</td>
                            <td>{{ prob[index] }}</td>
                            <td>{{ komu[index] }}</td>
                            <td>{{ intv[index] }}</td>
                        </tr>
                        <tr>
                            <td>Jumlah</td>
                            <td>{{ dTot }}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <button class="btn btn-outline-primary" type="button" id="button-addon1" @click="generate">Generate Random Number</button>
                    </div>
                    <input type="text" class="form-control" v-model="gNumber" readonly placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                  </div>
                <div style="height: 400px;overflow-y: scroll;">
                    <table class="table table-bordered text-center">
                        <thead>
                            <th>Minggu Ke</th>
                            <th>Random Number</th>
                            <th>Permintaan</th>
                        </thead>
                        <tbody>
                            <tr v-for="(i,idx) in res">
                                <td>{{ i.week }}</td>
                                <td>{{ i.gNum }}</td>
                                <td>{{ i.freqIdx }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>  
                <figure class="highcharts-figure">
                    <div id="container"></div>
                </figure>
            </div>
        </div>
    </body>
    <script src="vue.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        var app = new Vue({
                el: '#app',
                data: {
                    data : [],
                    len: 10,
                    lenTable:0,
                    qty : [],
                    demand : [],
                    prob : [],
                    komu : [],
                    intv : [],
                    gNumber : 0,
                    dTot : 0,
                    res : [],
                    minta : [],
                    week : [],
                    minggu : [],
                    frekuensi : [],
                    datTable:[],
                    temp:[],
                    counterA:0,
                    mingguIn:0,
                    freqIn:0
                },
                
                mounted () {
                    axios
                    .get('http://ahromi.my.id/pemsil_montecarlo/api/pemsil/get')
                    .then(response => (this.data =response.data.data,this.len =response.data.data.length))
                    .catch(error => console.log(error))
                },
                methods:{
                    checking : function(){
                        this.datTable = []
                        for(i=0;i<=Math.max.apply(Math,this.data.map(o => o.frekuensi));i++){
                            if (this.data.filter(x => x.frekuensi == i).length > 0){
                                this.datTable.push({
                                    freq : this.data.filter(x => x.frekuensi == i).length,
                                    minta : i
                                })
                            }
                        }
                        this.getProb()
                        this.getKomu()  
                        this.getIntv()
                    },
                    generateChart : function() {
                        var cat = []
                        var dat = []
                        for(i = 0;i < this.res.length;i++){
                            cat[i] = this.res[i].week
                            dat[i] = parseInt(this.res[i].freqIdx)
                        }
                        console.log(dat)
                        Highcharts.chart('container', {
                            chart: {
                                type: 'line'
                            },
                            title: {
                                text: 'Prediksi Penjualan Laptop'
                            },
                            subtitle: {
                                text: 'Monte Carlo'
                            },
                            xAxis: {
                                categories: cat 
                            },
                            yAxis: {
                                title: {
                                    text: 'Jumlah Penjualan'
                                }
                            },
                            plotOptions: {
                                line: {
                                    dataLabels: {
                                        enabled: true
                                    },
                                    enableMouseTracking: true
                                }
                            },
                            series: [{
                                name: 'Data',
                                data: dat
                            }]
                        })
                    },
                    getKomu : function(){
                        for(i = 0;i <= this.datTable.length-1;i++){
                            if(i === 0){
                                this.komu[i] = parseFloat(this.prob[i]).toFixed(3)
                            }
                            else if(i == this.datTable.length-1){
                                this.komu[i] = Math.round(parseFloat(this.prob[i])+parseFloat(this.komu[i-1]))
                            }
                            else{
                                this.komu[i] = (parseFloat(this.prob[i])+parseFloat(this.komu[i-1])).toFixed(3)
                            }
                            // console.log(this.komu[i])
                        }
                    },
                    getProb : function(){
                        this.dTot = this.datTable.reduce((acc, item) => acc + item.freq, 0);
                        for(i = 0;i <= this.datTable.length-1;i++){
                            this.prob[i] = (parseInt(this.datTable[i].freq)/parseInt(this.dTot)).toFixed(3)
                        }
                    },
                    getIntv : function(){
                        for(i = 0;i <= this.datTable.length-1;i++){
                            if(i === 0){
                                this.intv[i] = "0 - "+ this.komu[i]
                            }
                            else{
                                this.intv[i] = this.datTable[i].minta == '0' ? '-' : (parseFloat(this.komu[i-1])+(0.001))+" - "+this.komu[i]
                            }
                        }
                    },
                    generate : function(){
                        this.gNumber = parseFloat(Math.random()).toFixed(3)
                        this.classify()
                        this.generateChart()
                    },
                    input : function(){
                        console.log(this.freqIn+" + "+this.mingguIn)
                    },
                    updateData(id){
                        console.log(id.frekuensi)
                        console.log(id.minggu)
                        this.checking();
                    },
                    classify : function(){
                        if(this.res.length > 0){
                            this.getProb()
                            this.getKomu()
                            this.getIntv()
                        }
                        for(i = 0;i <= this.datTable.length-1;i++){
                            if(parseFloat(this.gNumber) <= parseFloat(this.komu[i])){
                                this.datTable[i].freq = parseInt(this.datTable[i].freq)+parseInt(1)
                                
                                this.res.push(
                                    {
                                        week : parseInt(this.dTot)+1,
                                        gNum : parseFloat(this.gNumber),
                                        freqIdx : this.datTable[i].minta
                                    }
                                )
                                // console.log(i)
                                break;
                            }
                        }
                    }
                },
                watch : {
                    len : function(){
                        for(i = 1;i <= this.len;i++){
                            
                            this.qty[i] = 0
                            this.demand[i] = 0
                            this.prob[i] = 0
                            this.komu[i] = parseFloat(0)
                            this.intv[i] = ''
                        }
                        this.checking()
                    }
                },
                created : function(){
                    for(i = 1;i <= this.len;i++){
                        this.qty[i] = i
                        this.demand[i] = i
                        this.prob[i] = 0
                        this.komu[i] = parseFloat(0)
                        this.intv[i] = ''
                    }
                }
            })
  
    </script>
</html>